@import "tailwindcss";
@import "tw-animate-css";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-sans: var(--font-noto-sans-kr);
}

@layer base {
  body {
    font-family: var(--font-noto-sans-kr);
  }
}
